.chequing-sec5-p1-container{
    margin-left: 125px !important;
    margin-right: 125px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 48px !important;

    display: flex;

    h5{
        margin-top: 0px !important;
        font-size: 40px;
        font-family: 'TangerineCircularBold', sans-serif;
    }
    p{
        font-size: 22px;
        font-family: 'TangerineCircular', sans-serif; 
    }
}

.chequing-sec5-p1-wrapper{
    padding-right: 0px !important;
}
.chequing-sec5-p1{
    width: 592px;
    height: 405px;  

    p{
        color: #616161;
    }
}

.chequing-sec5-p2-wrapper{
    padding-left: 0px !important;
    width: 592px;
    height: 405px;  

}
.chequing-sec5-p2{

    border: .0625rem solid #e0e0e0;
    border-radius: 1rem;

    padding: 24px;

    >div{
        display: flex;
        padding: 24px 0;
    }
    >div:nth-child(1), >div:nth-child(2), >div:nth-child(3){
        border-bottom: .0625rem solid #e0e0e0;

        >div:first-child{
            width: 271px;
        }
        >div:last-child{
            padding-left: 200px;
        }
    }
    >div:nth-child(4){
        >div:first-child{
            width: 271px;
        }
        >div:last-child{
            padding-left: 200px;
        }
    }
    p{
        margin: 0px !important;
    }

}